<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online games</title>
</head>

<body>
    <h1>Mejores juegos 2021</h1>

    <p>
        Bienvenido a la pagina que te enseñara los mejores juegos mundo abierto en la actualidad, seguro no te los
        querras perder!
        Los juegos de mundo abierto son realmente excepcionales.
        Ofrecer libre albedrío en mundos diseñados para el puro entretenimiento es algo en lo que se ha puesto un
        especial hincapié en la actual generación, lo que ha dado paso a que vivamos una suerte de edad de oro dentro
        del género con Geralt de Rivia, Trevor Philips, Link o el mismísimo Spider-Man entre sus máximos representantes.
        Escenarios post-apocalípticos, fascinantes entornos donde se manifiesta la fantasía épica, ciudades en las que
        el caos se impone a la propia ley o ambiciosas recreaciones históricas en las que se ha introducido alguna que
        otra licencia para que el jugador experimente con posibilidades casi inagotables. Bien sea al servicio del
        vínculo narrativo que se nos ofrece o sumergiéndonos en sus paisajes sin rumbo ni cometido.
    </p>
    <a href="https://www.vidaextra.com/listas/mejores-videojuegos-mundo-abierto">go to games wiki</a>
</body>

</html>